In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
dataset=pd.read_csv('sso.csv')

In [48]:
print(dataset.shape)

(190889, 3)

In [49]:
dataset = dataset.drop_duplicates(subset=['current_block_number'])

In [50]:
dataset['current_datetime'] = pd.to_datetime(dataset['current_datetime'] , format='%Y/%m/%d %H:%M:%S')

In [51]:
# dataset=dataset.drop('latest_block_number',axis=1)

In [52]:
dataset=dataset.reset_index(drop=True)

In [53]:
dataset.shape

(190888, 3)

In [54]:
dataset.dtypes

current_datetime        datetime64[ns]
current_block_number             int64
gas_price_Gwei                 float64
dtype: object

In [55]:
dataset= dataset.sort_values(by='current_block_number')

In [56]:
dataset=dataset.reset_index(drop=True)

In [57]:
dataset

          current_datetime  current_block_number  gas_price_Gwei
0      2023-05-20 22:00:00              17303455       29.964259
1      2023-05-20 22:00:22              17303456       30.383009
2      2023-05-20 22:00:30              17303457       34.147302
3      2023-05-20 22:00:47              17303458       33.493214
4      2023-05-20 22:00:56              17303459       32.922815
...                    ...                   ...             ...
190883 2023-06-21 13:42:41              17528405       14.733470
190884 2023-06-21 13:42:58              17528406       14.738057
190885 2023-06-21 13:43:04              17528407       15.067996
190886 2023-06-21 13:43:20              17528408       14.196629
190887 2023-06-21 13:43:26              17528409       14.104886

[190888 rows x 3 columns]

In [28]:
# from datetime import datetime, timedelta

# for i in range(0,len(dataset['current_datetime'])):
#     # parse the current datetime string using strptime
#     dt = datetime.strptime(str(dataset['current_datetime'][i]), '%Y-%m-%d %H:%M:%S')
#     new_time =dt - timedelta(hours=2)
#     # convert the datetime object to a new datetime string format using strftime
#     dataset['current_datetime'][i] = new_time.strftime("%Y-%m-%d %H:%M:%S")

In [58]:
dataset

          current_datetime  current_block_number  gas_price_Gwei
0      2023-05-20 22:00:00              17303455       29.964259
1      2023-05-20 22:00:22              17303456       30.383009
2      2023-05-20 22:00:30              17303457       34.147302
3      2023-05-20 22:00:47              17303458       33.493214
4      2023-05-20 22:00:56              17303459       32.922815
...                    ...                   ...             ...
190883 2023-06-21 13:42:41              17528405       14.733470
190884 2023-06-21 13:42:58              17528406       14.738057
190885 2023-06-21 13:43:04              17528407       15.067996
190886 2023-06-21 13:43:20              17528408       14.196629
190887 2023-06-21 13:43:26              17528409       14.104886

[190888 rows x 3 columns]

In [30]:
# from datetime import datetime, timedelta

# for i in range(4290,len(dataset['current_datetime'])):
#     # parse the current datetime string using strptime
#     dt = datetime.strptime(str(dataset['current_datetime'][i]), '%Y-%m-%d %H:%M:%S')
#     new_time =dt - timedelta(hours=2)
#     # convert the datetime object to a new datetime string format using strftime
#     dataset['current_datetime'][i] = new_time.strftime("%Y-%m-%d %H:%M:%S")

C:\Users\r.kacem\AppData\Local\Temp\ipykernel_7756\3642004830.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['current_datetime'][i] = new_time.strftime("%Y-%m-%d %H:%M:%S")

In [34]:
# dataset[4289:]

In [35]:
# dataset[3628:4290]SOFREC

In [59]:
dataset.to_csv("soff.csv", index=False)
# Import the necessary libraries

In [110]:
# from google.colab import files

# # Download the file to your local machine
# files.download('API1.csv')

In [46]:

df1 = pd.read_csv('s.csv')

df10 = pd.read_csv('so.csv')

# df12 = pd.read_csv('gast1 (8).csv')
# df13 = pd.read_csv('gast1 (9).csv')
# df14 = pd.read_csv('15.csv')
# df15 = pd.read_csv('26 (1).csv')

combined = pd.concat([df1,df10])
# ,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16])

combined.to_csv('sso.csv', index=False)